<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipeItem</title>
</head>
<body>

    <div class="recipe-card">
    <h3><%= recipe.title %></h3>
    <p><%= recipe.description %></p>

    <p><strong>Ingredients:</strong> 
        <%= recipe.ingredients.join(", ") %>
    </p>

    <p><small>By: <%= recipe.createdBy.name %></small></p>

    <% if (user && (user._id == recipe.createdBy._id || user.role === "admin")) { %>
        <a href="/recipes/edit/<%= recipe._id %>">Edit</a>
        <form action="/recipes/delete/<%= recipe._id %>" method="POST" style="display:inline;">
            <button>Delete</button>
        </form>
    <% } %>
</div>

    
</body>
</html>